block content
    div(style="margin: 40px; text-align: center")
        div © 2019 TheSourceCode
        div
            a(style="margin: 0 10px;", href="https://twitter.com/The_Source_Code") Twitter
            a(style="margin: 0 10px;", href="https://www.youtube.com/c/thesourcecodetutorials") Youtube
            a(style="margin: 0 10px;", href="https://thesourcecode.dev") Main Website