doctype html
html
    head
        title #{title} - SourceBot
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(property="og:type" content="website")
        meta(property="og:site_name" content="SourceBot")
        meta(property="og:title" content="User Leaderboard")
        meta(property="og:description" content="User Leaderboard for TheSourceCode. Are you #1? Check Your rank.")
        meta(property="og:url" content="https://sourcebot.net/")
        include layout/head
        script.
            $(document).ready(function () {
                loadData('leaderboard', function () {
                    currentPage('leaderboard');
                });
                search();
            });
    body(class="bg-theme-color-main")
        block content
            include layout/navbar
            div(class="container pt-5")
                div(class="shadow card bg-theme-color-secondary text-theme-text-1 animated fadeInDown mt-1 mb-3" style="animation-delay: 0.2s;")
                    div(class="card-body row")
                        div(class="col-2 d-inline-block text-truncate font-weight-bold") Rank
                        div(class="col-5 d-inline-block text-truncate font-weight-bold") User
                        div(class="col-2 d-inline-block text-truncate font-weight-bold") Level
                        div(class="col-3 d-inline-block text-truncate font-weight-bold") Coins
                div(class="data-container")