block content
    nav(class="nav-container")
        div(class="nav-item logo"): a(href="/") SourceBot
        ul(class="nav")
            li(class="nav-item"): a(href="/", class="links") Home
            li(class="nav-item"): a(href="/leaderboard", class="links") Leaderboard
            li(class="nav-item"): a(href="https://discordapp.com/invite/w24CQMR", class="links") Discord
