* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Impact", Helvetica, Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#background {
    z-index: 1;
    position: absolute;
    top: -100%;
    bottom: -100%;
    right: -100%;
    left: -100%;
}

.background-img {
    height: 100%;
    background-image: url("/images/landing_bg_black.png");
    opacity: 0.4;
}

.purple {
    background-color: rgb(143, 49, 211);
}

.purple .menu-button {
    color: rgb(67, 20, 95);
}

.yellow {
    background-color: rgb(220, 220, 40);
}

.yellow  .menu-button {
    color: rgb(95, 95, 34);
}

.green {
    background-color: rgb(51, 209, 120);
}

.green  .menu-button {
    color: rgb(36, 95, 45);
}

.red {
    background-color: rgb(205, 55, 55);
}

.red  .menu-button {
    color: rgb(178, 57, 57);
}

.menu {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.menu-body {
    z-index: 2;
}

.menu-title {
    animation-delay: 1s;
    text-transform: uppercase;
    font-size: 5em;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    width: 100%;
}

.menu-img-holder {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu-img {
    width: 300px;
    height: 280px;
    object-fit: cover;
}

.menu-buttons-holder {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu-button {
    display: block;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin: 20px 0;
    width: 15em;
}

.delay0-4 {
    animation-delay: 0.4s;
}

.delay0-6 {
    animation-delay: 0.6s;
}

.delay0-8 {
    animation-delay: 0.8s;
}

.delay1 {
    animation-delay: 1s;
}

.copyright {
    animation-delay: 1.2s;
    color: white
}

.text-shadow {
    text-shadow: 0px 4px 2px #000000
}