.nav-container {
    display: flex;
    min-height: 5em;
}

.nav {
    float: right;
    display: flex;
    justify-items: stretch;
    align-items: center;
}

.nav-item, .nav-item li, .nav-item a {
    list-style-type: none;
    text-decoration: none;
    width: 100%;
}

.logo {
    align-self: center;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    width: content-box;
}

.links {
    padding: 30px;
}

.links:hover {
    background-color: rgba(255, 255, 255, 0.1);
}