* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". body ." ". body .";
}

.body {
    padding-top: 20px;
    grid-area: body;
    width: 100%;
}

.title {
    text-align: center;
    margin: 40px;
}

.search {
    padding: 10px 0;
    width: 100%;
}

.search input {
    padding: 5px;
    border-radius: 5px;
    width: 15em;
}

.back-btn {
    text-decoration: none;
    font-size: 20px;
}

.go-top {
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    display: none;
}

select {
    padding: 5px;
    border-radius: 5px;
    width: 10em;
    margin: 0 5px;
    border: none
}

input {
    border: none
}

@media only screen and (max-width: 50em) {
    .container {
        grid-template-areas: "body body body" "body body body";
    }

    .avatar {
        width: 150px;
        height: 150px;
    }

}