body {
    --main-color: #373737;
    --secondary-color: #212121;
    --text-color: #e0e0e0;
    background-color: var(--main-color);
    color: var(--text-color);
}

.nav-container {
    background-color: var(--secondary-color);
}

.nav-item, .nav-item li, .nav-item a {
    color: var(--text-color);
}

.go-top {
    border: 2px solid black;
    background-color: var(--main-color);
}

.top-tile {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.lb-tile {
    color: var(--text-color);
}

.stats-title {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.history-title {
    background-color: var(--secondary-color);
    color: var(--text-color);
}
