body {
    --main-color: white;
    --secondary-color: #212121;
    background-color: white;
    color: black;
}

.nav-container {
    background-color: var(--secondary-color);
}

.nav-item, .nav-item li, .nav-item a {
    color: white;
}

.go-top {
    border: 2px solid black;
    background-color: var(--main-color);
}

.top-tile {
    background-color: var(--secondary-color);
    color: white;
}

.lb-tile {
    color: #000;
}

.stats-title {
    background-color: var(--secondary-color);
    color: white;
}

.history-title {
    background-color: var(--secondary-color);
    color: white;
}
