link(rel="shortcut icon" type="image/png" href="/images/sourcebot/purple.png?v1")
link(rel='stylesheet', href='/stylesheets/animate.css?v1')
link(id="theme" rel='stylesheet', href=`/stylesheets/themes/${theme}.css?v1`)
link(href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/css/bootstrap4-toggle.min.css" rel="stylesheet")
script(src="https://kit.fontawesome.com/68d2f597d0.js")
script(src="/javascripts/jquery-3.4.1.min.js?v1")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous")
script(src="/javascripts/infinite-scroll.js?v1")
script(src="/javascripts/utilities.js?v1")
script(src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js")